<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.distribution.dao.DmsMessageTemplateDao">
    <select id="selectByEventType" resultType="com.macro.mall.distribution.entity.DmsMessageTemplate">SELECT * FROM dms_message_template WHERE tenant_id=#{tenantId} AND event_type=#{eventType}</select>
    <select id="selectById" resultType="com.macro.mall.distribution.entity.DmsMessageTemplate">SELECT * FROM dms_message_template WHERE tenant_id=#{tenantId} AND id=#{id}</select>
    <select id="selectList" resultType="com.macro.mall.distribution.entity.DmsMessageTemplate">SELECT * FROM dms_message_template WHERE tenant_id=#{tenantId} ORDER BY category,event_type</select>
    <update id="update">UPDATE dms_message_template SET title_template=#{titleTemplate},summary_template=#{summaryTemplate},content_template=#{contentTemplate},enabled=#{enabled},version=version+1,update_time=CURRENT_TIMESTAMP WHERE tenant_id=#{tenantId} AND id=#{id}</update>
</mapper>
