<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.distribution.dao.DmsMigrationBaselineDao">
    <resultMap id="BaseResultMap" type="com.macro.mall.distribution.entity.DmsMigrationBaseline">
        <id column="id" property="id"/><result column="batch_no" property="batchNo"/>
        <result column="agent_id" property="agentId"/><result column="user_id" property="userId"/>
        <result column="external_member_code" property="externalMemberCode"/>
        <result column="historical_order_count" property="historicalOrderCount"/>
        <result column="historical_personal_performance" property="historicalPersonalPerformance"/>
        <result column="historical_team_performance" property="historicalTeamPerformance"/>
        <result column="initial_level" property="initialLevel"/><result column="cutover_time" property="cutoverTime"/>
        <result column="create_time" property="createTime"/>
    </resultMap>
    <select id="selectByAgentId" resultMap="BaseResultMap">
        SELECT * FROM dms_migration_baseline WHERE agent_id=#{agentId} LIMIT 1
    </select>
    <select id="selectByExternalCode" resultMap="BaseResultMap">
        SELECT * FROM dms_migration_baseline WHERE external_member_code=#{externalMemberCode} LIMIT 1
    </select>
    <insert id="insert" parameterType="com.macro.mall.distribution.entity.DmsMigrationBaseline" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO dms_migration_baseline(batch_no,agent_id,user_id,external_member_code,historical_order_count,
          historical_personal_performance,historical_team_performance,initial_level,cutover_time)
        VALUES(#{batchNo},#{agentId},#{userId},#{externalMemberCode},#{historicalOrderCount},
          #{historicalPersonalPerformance},#{historicalTeamPerformance},#{initialLevel},#{cutoverTime})
    </insert>
</mapper>
