<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.PmsProductTagRelationMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.PmsProductTagRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="tag_id" jdbcType="BIGINT" property="tagId" />
  </resultMap>

  <select id="selectByProductId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, product_id, tag_id from pms_product_tag_relation where product_id = #{productId}
  </select>

  <select id="selectByTagId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, product_id, tag_id from pms_product_tag_relation where tag_id = #{tagId}
  </select>

  <select id="selectTagIdsByProductId" parameterType="java.lang.Long" resultType="java.lang.Long">
    select tag_id from pms_product_tag_relation where product_id = #{productId}
  </select>

  <select id="selectProductIdsByTagId" parameterType="java.lang.Long" resultType="java.lang.Long">
    select product_id from pms_product_tag_relation where tag_id = #{tagId}
  </select>

  <delete id="deleteByProductId" parameterType="java.lang.Long">
    delete from pms_product_tag_relation where product_id = #{productId}
  </delete>

  <delete id="deleteByTagId" parameterType="java.lang.Long">
    delete from pms_product_tag_relation where tag_id = #{tagId}
  </delete>

  <insert id="insert" parameterType="com.macro.mall.model.PmsProductTagRelation" useGeneratedKeys="true" keyProperty="id">
    insert into pms_product_tag_relation (product_id, tag_id) values (#{productId}, #{tagId})
  </insert>

  <insert id="insertBatch">
    insert into pms_product_tag_relation (product_id, tag_id) values
    <foreach collection="list" item="item" separator=",">
      (#{item.productId}, #{item.tagId})
    </foreach>
  </insert>
</mapper>
