<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.SysDictItemMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.SysDictItem">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="group_code" jdbcType="VARCHAR" property="groupCode" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_value" jdbcType="VARCHAR" property="itemValue" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <select id="selectAll" resultMap="BaseResultMap">select * from sys_dict_item order by group_code, sort desc</select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">select * from sys_dict_item where id=#{id}</select>
  <select id="selectByGroupCode" parameterType="java.lang.String" resultMap="BaseResultMap">select * from sys_dict_item where group_code=#{groupCode} and status=1 order by sort desc</select>
  <insert id="insert" parameterType="com.macro.mall.model.SysDictItem" useGeneratedKeys="true" keyProperty="id">insert into sys_dict_item(group_code,item_code,item_name,item_value,sort,status,remark) values(#{groupCode},#{itemCode},#{itemName},#{itemValue},#{sort},#{status},#{remark})</insert>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.SysDictItem">update sys_dict_item set group_code=#{groupCode},item_code=#{itemCode},item_name=#{itemName},item_value=#{itemValue},sort=#{sort},status=#{status},remark=#{remark} where id=#{id}</update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">delete from sys_dict_item where id=#{id}</delete>
  <delete id="deleteByGroupCode" parameterType="java.lang.String">delete from sys_dict_item where group_code=#{groupCode}</delete>
</mapper>
